<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">사이트 소개</h2>

      <P>코인 투기해서 다들 부자가 됩시다^^</p>

    </div>
  </body>
</html>
