<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!--Plotly CDN-->
  </head>
  <body>
    <%- include('../partials/nav') %>
    
    <div class="container mb-3">

      <h2 class="mb-3">코인 종목 확인</h2>

      <div id="graph">
        <script>
          //Plotly.plot('graph',json복붙,{})
          var data = "<%= data %>";
          data = data.replace(/&#34;/g,'"');
          console.log(data)
          Plotly.plot('graph',JSON.parse(data),{});
        </script>
      </div>

    </div>
  </body>
</html>