<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">코인 종목 확인</h2>

      <P>그래프 준비중</p>

    </div>
  </body>
</html>