<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>코인조아</h1>
        <P>코인 투기사이트입니다</p>
      </div>

    </div>
  </body>
</html>
